@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target small displays like phones */
:root {
  --sl-content-width: 100%;
}

@media (min-width: 640px) {
  /* Target small displays like tablets */
  :root {
    --sl-content-width: calc(100% - (var(--sl-content-pad-x) * 2)); /* Make it wider on small screens */
  }
}

@media (min-width: 1024px) {
  /* Target larger displays like desktops */
  :root {
    --sl-content-width: calc(100% - (var(--sl-content-pad-x) * 7));
  }
}

/** Content regions: More room on smaller displays */
.main-pane .sl-container {
  margin-inline: unset !important;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .main-pane .sl-container {
    margin-inline: var(--sl-content-margin-inline, auto) !important;
    max-width: var(--sl-content-width);
  }
}

/** <pre> Headers on READMEs **/
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) code {
  font-size: 40%; /* Base font size for extra-small screens (default) */
}

@media (min-width: 480px) {
  /* Target small displays like phones */
  .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) code {
    font-size: 50%;
  }
}

@media (min-width: 640px) {
  /* Target medium displays like tablets */
  .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) code {
    font-size: 70%;
  }
}

@media (min-width: 1024px) {
  /* Target larger displays like desktops */
  .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) code {
    font-size: inherit; /* Default or larger font size */
  }
}

/** For code embeds on example pages **/
.sl-markdown-content :is(video, iframe):not(:where(.not-content *)) {
  height: revert-layer;
}
