---
import type { Props } from "../props";

import EditLink from "virtual:starlight/components/EditLink";
import LastUpdated from "virtual:starlight/components/LastUpdated";
import Pagination from "virtual:starlight/components/Pagination";
import config from "virtual:starlight/user-config";
import { Icon } from "@astrojs/starlight/components";
import Default from "@astrojs/starlight/components/Footer.astro";
import GitPullLogo from "./GitPullLogo.astro";
---

<Default {...Astro.props}><slot /></Default>

<footer class="sl-flex text-center items-center">
  <div class="kudos sl-flex" href="https://www.git-pull.com">
    Copyright © 2021- <a href="https://www.git-pull.com" target="_blank" class="footer__link-item">Tony Narlock</a>.
  </div>
  <GitPullLogo />
</footer>

<style>
	footer {
		flex-direction: column;
	}
	.kudos {
		align-items: center;
		margin: 0.5rem auto;
		font-size: var(--sl-text-xs);
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
</style>
