<svg
  class="w-10 h-10"
  viewBox="0 0 1200 1200"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <!-- Dark mode shapes -->
  <g
    id="git-pull-logo--dark"
    class="dark:block hidden"
    fill="white"
  >
    <rect
      id="git-pull-logo--dark--top-line"
      x="212.99"
      y="816.71"
      width="774.11"
      height="107.44"
    />
    <rect
      id="git-pull-logo--dark--middle-line"
      x="212.95"
      y="546.91"
      width="774.11"
      height="107.44"
    />
    <rect
      id="git-pull-logo--dark--bottom-line"
      x="212.9"
      y="275.85"
      width="774.11"
      height="107.44"
    />
  </g>

  <!-- Light mode shapes -->
  <g
    id="git-pull-logo--light"
    class="dark:hidden block"
    fill="black"
  >
    <rect
      id="git-pull-logo--light--top-line"
      x="212.99"
      y="816.71"
      width="774.11"
      height="107.44"
    />
    <rect
      id="git-pull-logo--light--middle-line"
      x="212.95"
      y="546.91"
      width="774.11"
      height="107.44"
    />
    <rect
      id="git-pull-logo--light--bottom-line"
      x="212.9"
      y="275.85"
      width="774.11"
      height="107.44"
    />
  </g>
</svg>
